@use "../../globalStyle.scss" as v;

.hero {
  background-image: url("../../assets/hero.png");
  height: 280px;
  width: 100%;
  background-size: 100%;
  display: flex;
  align-items: center;
  &__wrapper {
    width: 90%;
    text-align: center;
    margin: auto;
    h1 {
      font-size: 48px;
      color: v.$brown-color;
      font-weight: 400;
    }
    p {
      color: v.$white-color;
      font-weight: 600;
    }
  }

  &__search {
    background: transparent;
    width: 400px;
    border: 1px solid v.$white-color;
    color: v.$white-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    border-radius: 5px;
    margin: 2em auto;
    position: relative;
    input {
      height: 45px;
      background: transparent;
      width: 80%;
      outline: none;
      border: none;
    }
  }

  &__searchActive {
    background: v.$white-color;
    color: v.$darkGrey-color;
  }

  &__searchContainer {
    position: absolute;
    z-index: 99;
    top: 4em;
    width: 400px;
    background: v.$white-color;
    left: 0;
    border-radius: 5px;
    box-shadow: v.$boxShadow;
    padding: 0.5em;
    a,
    p {
      color: v.$grey-color;
      height: 45px;
      align-items: center;
      display: flex;
      padding: 0 1em;
      border-top: 1px solid #ebebe9;
      font-size: 14px;
    }

    p:first-child {
      border: none;
    }
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    &__search {
      width: 100%;
      padding: 0;
      input {
        padding-left: 1em;
      }
    }

    &__searchContainer {
      width: 100%;
    }
  }
}
