@use "../../globalStyle.scss" as v;

.singleJoke {
  background-color: v.$closeWhite-color;
  padding: 5em 0;

  &__backButton {
    height: 50px;
    width: 50px;
    background: v.$darkGrey-color;
    border-top-left-radius: 35px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 70px;
    color: v.$brown-color;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }

  &__container {
    width: 80%;
    margin: auto;
  }
  &__wrapper {
    display: flex;
    margin: auto;
    justify-content: space-between;
    column-gap: 2em;
    width: 100%;
  }

  &__left {
    width: 69%;
    border-radius: 3px;
  }
  &__leftTop {
    height: 280px;
    // width: 100%;
    border: 2px solid v.$borderColor;
    border-radius: 2px;
    padding: 1em;
    background-color: v.$white-color;

    &__icon {
      display: flex;
      align-items: center;
      height: 15px;
      background-color: v.$deep-green;
      color: v.$white-color;
      font-size: 12px;
      padding: 4px 7px;
      border-radius: 50px;
      font-weight: 500;
    }

    h1 {
      color: v.$brown-color;
      font-weight: 500;
      font-size: 40px;
      padding-top: 5px;
    }

    > p {
      line-height: 1.57;
      letter-spacing: normal;
      font-size: 14px;
      margin-top: 0.5em;
    }
  }
  &__leftHeader {
    display: flex;
  }

  &__leftBottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1.5em;
  }

  &__vote {
    display: flex;
    text-align: center;
    > div {
      color: v.$deep-green;
      margin: 0 1em;

      p {
        font-size: 14px;
        font-weight: 500;
      }
      > div {
        width: 35px;
        height: 35px;
        background-color: rgba(v.$deep-green, 0.7);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 20px;
          height: 20px;
        }

        &:hover {
          background-color: v.$deep-green;
        }
      }
    }

    > div:last-child {
      color: v.$deep-red;
      div {
        background-color: rgba(v.$deep-red, 0.7);
        &:hover {
          background-color: v.$deep-red;
        }
      }
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 0.5em;
    > div {
      display: flex;
      align-items: center;
      color: v.$brown-color;
      border: 1px solid v.$borderColor;
      background-color: v.$white-color;
      width: 150px;
      height: 45px;
      padding: 0 6px;
      cursor: pointer;
    }

    > div:last-child {
      &:hover {
        box-shadow: v.$boxShadow;
        p {
          padding-right: 1em;
        }
      }
    }

    > div:first-child {
      &:hover {
        box-shadow: v.$boxShadow;
        p {
          padding-left: 1em;
        }
      }
    }
  }

  &__right {
    width: 39%;
    border: 2px solid v.$borderColor;
    border-radius: 2px;
    padding: 16px;
    height: 350px;
    background-color: v.$white-color;
    border-radius: 3px;

    p {
      text-decoration: underline;
      padding: 8px 0;
      font-size: 14px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .singleJoke {
    &__wrapper {
      flex-direction: column;
    }

    &__left {
      width: 100%;
    }
    &__right {
      width: 100%;
      height: auto;
      margin-top: 1em;
      h3 {
        font-size: 18px;
      }
    }
    &__leftTop {
      h1 {
        font-size: 24px;
      }
    }

    &__leftBottom {
      flex-direction: column;
      margin-top: 1em;
      > div {
        margin-top: 1em;
      }
    }
  }
}
