@use "../../globalStyle.scss" as v;

.button {
  color: v.$brown-color;
  border: 1px solid v.$brown-color;
  width: 180px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  p {
    padding-right: 5px;
  }
}
