@use "../../globalStyle.scss" as v;

.category {
  padding: 3em 0;
  &__wrapper {
    width: 80%;
    display: flex;
    gap: 1em;
    margin: auto;
    flex-wrap: wrap;
    p {
      width: 180px;
      cursor: pointer;
      color: v.$white-color;
      font-size: 15px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 2px;
      &:hover {
        box-shadow: v.$boxShadow;
      }
    }
  }

  &__animal {
    background-color: #ff5b5b;
  }
  &__career {
    background-color: #ff915b;
  }
  &__celebrity {
    background-color: #ffbe5b;
  }
  &__dev {
    background-color: #ffdf5b;
  }
  &__explicit {
    background-color: #8fe360;
  }
  &__fashion {
    background-color: #57e690;
  }
  &__food {
    background-color: #57dbe6;
  }
}

@media only screen and (max-width: 470px) {
  .category {
    &__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      p {
        width: 100%;
      }
    }
  }
}
