@use "../../globalStyle.scss" as v;

.footer {
  background-image: url("../../assets/footer.png");
  height: 150px;
  width: 100%;
  background-size: 100%;
  display: flex;
  align-items: center;

  &__wrapper {
    width: 80%;
    margin: auto;
    color: v.$white-color;
    font-weight: 500;
  }
  &__submit {
    color: v.$brown-color;
    display: flex;
    align-items: center;
    margin-top: 0.5em;
    p {
      margin-right: 4px;
    }
  }
}
