$white-color: #ffffff;
$closeWhite-color: #f9f9f9;
$offWhite-color: #f9f9f9;
$weird-green: #57e960;
$deep-green: #005c29;
$kiwi-color: #8fe360;
$red-color: #ff5b5b;
$deep-red: #9b111e;
$orange-color: #ff915b;
$grey-color: #5e5e5e;
$brown-color: #cfb995;
$darkGrey-color: #303030;
$boxShadow: 0 1px 7px 0 rgba(0, 0, 0, 0.15);
$borderColor: #ebebe9;
