$white-color: #ffffff;
$weird-green: #57e960;
$kiwi-color: #8fe360;
$red-color: #ff5b5b;
$orange-color: #ff915b;
$grey-color: #5e5e5e;
$brown-color: #cfb995;
$darkGrey-color: #303030;
$boxShadow: 0 1px 7px 0 rgba(0, 0, 0, 0.15);
